.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px hsl(180, 29%, 50%); /* Bottom shadow */
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.card-profile-img {
  padding: 5px;
}
.card-content {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.profile-company-info,
.card-conditions,
.card-skills-filter {
  display: flex;
  align-items: start;
  gap: 10px;
  text-wrap: wrap;
}

.card-skills-filter button {
  padding: 10px;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 1rem;
  background: hsl(180, 52%, 96%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.company-name {
  color: hsl(180, 29%, 50%);
}
.new,
.featured {
  font-size: 0.9rem;
}
.new {
  background: hsl(180, 29%, 50%);
  padding: 5px;
  border-radius: 50px;
  color: white;
}
.featured {
  background: black;
  padding: 5px;
  border-radius: 50px;
  color: white;
}
